/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/10/20, 0:38:11
    Author     : monoitatsuya
*/
 
#change {
  background: #000000;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: none;
  z-index: 9999;
}
#change ul {
  float: right;
  font-family: 'Droid Sans', sans-serif;
  font-size: 8px;
  font-size: 0.8rem;
  margin: 20px 20px 20px 20px;
}
#change ul li {
  float: left;
  margin-right: 40px;
}
#change ul li a {
  color: #ffffff;
  text-decoration: none;
}